@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-color {
    background-color: #2F1893;
}

.min-vh-100 {
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    max-width: 348px;
    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    padding-top: 104px;
    color: #FFFFFF;

}

.mxauto {
    margin-left: auto;
    margin-right: auto;
}

.para {
    max-width: 702px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: -12px;
    padding-right: -12px;
}

.col3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 270px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 160px;
}

.pb30 {
    padding-bottom: 30px;
}

.col12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}


@media(min-width:576px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(min-width:768px) {
    .col-lg-4 {
        width: 33.3%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(min-width:992px) {
    .col-xlg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}